* {
  padding: 0;
  margin: 0;
}

/*********MENU**********/

.all {
  width:100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  background-color: #C70039; 
  opacity: 0.9;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  z-index: 2;
}

.all img {
  margin-top: 5px;
  margin-left: 25px;
}

.menu {
  margin-right: 50px;
  margin-top: 15px;
}

label {
  margin:0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
}

#toggle {
  display: none;
}

.menu ul>li {
  display: inline-block;
  font-size:20px;
  font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
  color: white;
  padding: 28px 25px 23px ;
  z-index: 1;
}

.menu a:hover {
  background-color: #A10230;
  transition: all .5s;
  text-decoration: none;
}

.menu ul li ul {
  display: none;
}

.menu ul li:hover ul {
  z-index:2;
  display: block;
  position: absolute;
  margin-top: 16px;
}

.menu ul li ul li {
  display: block;
  background-color: #A10230;
}

.menu ul li ul li a{
  display: block;
  padding:20px 7px 10px;
  background-color:#C70039;
}

/********* CATERING *********/

.catering {
  padding-top: 70px;
  font-family:"Raleway", sans-serif;
}

.back{
  background-image: url("../IMG/catering.jpg");
  background-repeat: no-repeat;
}

.catering h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #A10230;
}

.catering h3{
  margin-top: -3px;
  color: #A10230;
}

.catering ul li {
  margin-left: 15px;
  text-align: left;

}

.catering p {
  margin-bottom: 30px;
}

/************ ANIMACION ************/

.animacion {
   width: 100%;
  padding: 3% 2% 2% 2%;
  background-color: #FCE9FB;
  font-family:"Raleway", sans-serif;
}

.animacion h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #A10230; 
}

.animacion h3{
  font-weight:bold;
  font-size: 29px;
  color: #C70039;
}

.animacion p{
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin-bottom:4%;
  }
.col{padding-right:2% 0;
}  

.tum{background-color: #FDF7FC;
}

/**************FOTOGRAFIA**************/

.Fotografia {
  width: 100%;
  padding: 4% 2% 3% 2%;
  text-align: center;
  background-image: url("../IMG/catering.jpg");
}

.Fotografia h2 {
  font-size: 45px;
  font-weight: bold;
  color: #A00230;
}

.Fotografia p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 2% 0;
}

.fotos {
  margin-left: 6%;
}

.fotos p{
  font-family: "Josefin Sans", sans-serif;
  padding: 5%;
}

.fotos h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #A00230;
}

.fotos h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  padding-bottom: 2%;
}

/*********inicio footer***********/

footer{
  padding: 1% 3%;
  background-color: #C70039;
  opacity: 0.9; 
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 17px;
}

footer h3{
  font-weight: bolder;
  font-size: 22px;
}

.mapa-responsive{
  overflow:hidden;
  padding-bottom: 15%;
  position:relative;
}

.mapa-responsive iframe{
  height:100%;
  width:100%;
  position:absolute;
}

.direccion a {
  color: white;
}

.direccion a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

.redesSociales a{
  color: white;
}

.redesSociales a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

/*********fin footer***********/

/*********queries tablets***********/

@media only screen and (max-width: 900px) {

  .fotos {
    margin: 4% 0 3% 8.5%;
  }

  .direccion {
    text-align: center;
  }
}

/*****queries celulares*******/

@media only screen and (max-width:400px) {
.all img{
         margin-left:80%;
         width:60%;
         height:45%;
}
.menu{text-align: center;
      width: 100%;
      display: none;
}
.menu ul li a{display: block;
        border-bottom: 1px solid #EAEAEB;
}
label{display:block;
      cursor: pointer;
      width: 26px;
      justify-content: flex-end;
}
#toggle:checked + .menu{
   display: block;
}

  .mapa-responsive{
    display: none;
  }

  .direccion{
    text-align: center;
  }
}