* {
  padding: 0;
  margin: 0;
}

/*********MENU**********/

.all {
  width:100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  background-color: #C70039; 
  opacity: 0.9;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  z-index: 2;
}

.all img {
  margin-top: 5px;
  margin-left: 25px;
}

.menu {
  margin-right: 50px;
  margin-top: 15px;
}

label{
  margin:0 30px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
}

#toggle{
  display: none;
}

.menu ul>li {
  display: inline-block;
  font-size:20px;
  font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
  color: white;
  padding: 28px 25px 23px;
  z-index: 1;
}

.menu a:hover {
  background-color: #A10230;
  transition: all .5s;
  text-decoration: none;
}

.menu ul li ul {
  display: none;
}

.menu ul li:hover ul {
  z-index:2;
  display: block;
  position: absolute;
  margin-top: 16px;
}

.menu ul li ul li {
  display: block;
  background-color: #A10230;
}

.menu ul li ul li a{
  display: block;
  padding:20px 7px 10px;
  background-color:#C70039;
}

/***************FOTOS SALON***************/

.fotosSalon {
  padding-top: 51px;
}

.slider1 {
  width: 100%;
  background-image: url("../IMG/header.jpg");
  background-attachment: fixed;
  background-size: 120%;
  background-position: 0 -10px;
  height: 550px;
  background-repeat: no-repeat;
  margin-top: 20px;
  opacity: 0.8;
}

.slider1 h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif; 
  margin: 30px 20px;
  color: #FFF;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #D1305D;
}

/****************QUIENES SOMOS*****************/

.quienesSomos {
  width: 100%;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../IMG/garlands.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  padding: 5% 0 7% 0;  
}

.presentacion {
  width: 80%;
  text-align: center;
}

.presentacion h2 {
  margin-top: -1px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 3%;
}

.presentacion h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 3%;
}

.presentacion p {
  line-height: 40px;
  margin-top: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

/***************SLIDER SERVICIOS****************/

.tamanioSlider {
  height: 450px;
  margin-bottom: 40px;
}

.slider2 {
  background-color: #D53069;
  margin-top:-20px;
  font-family: "Raleway", sans-serif;
}

.slider2 h2 {
  font-size: 40px;
  margin: 30px 0;
  font-weight: bolder;
  color: white;
}

.slider2 h3 {
  font-weight: bold;
}

.slider1 div{
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 150px;
}

/**************INSTALACIONES***************/

#instalaciones {
  background-color: #FFF;
  text-align: center;
  padding: 3%;
}

#instalaciones h3 {
  font-family: "Raleway", sans-serif;  
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 2%;
}

#instalaciones p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 4%;
}

.equip {
  display: inline-block;
  text-align: center;
  margin-bottom: 2%;
  width: 33%;
}

.equip img {
  border-radius: 50%;
  background-color: #D53069;
  margin-bottom: 6%;
}

/****************FORMULARIO***************/

form {
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
}

.formu {
  margin-top: 20px;
}

.ahre {
  background-image: url("../IMG/form3.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 20px; 
}

.opa {
  opacity: 0.85;
}

legend {
  font-size: 40px;
}

/*********inicio footer***********/

footer{
  padding: 1% 3%;
  background-color: #C70039;
  opacity: 0.9; 
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 23px;
}

footer h3{
  font-weight: bolder;
  font-size: 27px;
}

.mapa-responsive{
  overflow:hidden;
  padding-bottom: 15%;
  position:relative;
}

.mapa-responsive iframe{
  height:100%;
  width:100%;
  position:absolute;
}

.direccion a {
  color: white;
}

.direccion a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

.redesSociales a{
  color: white;
}

.redesSociales a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

.copyright { 
  font-size: 20px;
  margin-top: 30px;
}

.copyright a{
  color: white;
}

.copyright a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}


/*********fin footer***********/

/*********queries tablets***********/

@media only screen and (max-width: 900px) {

  .slider1 {
    background-position: 30%;
    background-size: 300%;
    height: 400px;
  }

  .slider1 h1 {
    margin: -20px -90px;
    font-size: 60px;
  }

  .quienesSomos {
    background-size: 250%;
    background-repeat: repeat;
  }

  .presentacion h2 {
    display: block;    
  }

  .equip {
   width: 45%;
  }

  .direccion {
    text-align: center;
  }
}

/*****queries celulares*******/

@media only screen and (max-width:400px) {
.all img{
         margin-left:65%;
         width:60%;
         height:45%;
}
.menu{text-align: center;
      width: 100%;
      display: none;
      margin-top: 400px;
}
.menu ul li a{display: block;
       width:400px; 
        border-bottom: 1px solid #EAEAEB;
        background-color:#C70039 ;
        padding-right: 140px;
}
label{display:block;
      cursor: pointer;
      font-size:32px;
      width: 26px;
      margin-left:10px;
}
#toggle:checked + .menu{
   display: block;
}

.menu ul li:hover ul {
  display: none;
}
.slider1 {
    background-size: 380%;
    height: 300px;
  }

  .slider1 h1 {
    font-size: 35px;
    margin: -45px -80px;
  }

  .presentacion h2 {
    margin: 15px 0 0 -15px;
    padding: 1%;
    font-size: 40px;
  }

  .presentacion p{
    padding: 1%;
    margin: 30px 0;
    font-size: 18px; 
  }

  .equip {
    display: block;
    width: 100%;
  }

  .mapa-responsive{
    display: none;
  }

  .direccion{
    text-align: center;
  }
}